<!DOCTYPE html>
<html>
<head>
  <title>Mongo Table Admin</title>
  <link rel='stylesheet' href='/stylesheets/style.css' />
</head>
<body>

<div id="ace"></div>
<div id="output"></div>

  <script src="bower_components/sweetalert2/dist/sweetalert2.min.js"></script>
  <link rel="stylesheet" href="bower_components/sweetalert2/dist/sweetalert2.min.css">

  <!-- external libs from cdnjs -->
  <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/c3/0.4.11/c3.min.css">
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jqueryui/1.11.4/jquery-ui.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/d3/3.5.5/d3.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jqueryui-touch-punch/0.2.3/jquery.ui.touch-punch.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-csv/0.71/jquery.csv-0.71.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/c3/0.4.11/c3.min.js"></script>

  <!-- PivotTable.js libs from ../dist -->
  <link rel="stylesheet" type="text/css" href="bower_components/pivottable/dist/pivot.css">
  <script src="bower_components/pivottable/dist/pivot.js"></script>
  <script src="bower_components/pivottable/dist/export_renderers.js"></script>
  <script src="bower_components/pivottable/dist/d3_renderers.js"></script>
  <script src="bower_components/pivottable/dist/c3_renderers.js"></script>

  <script src="bower_components/handsontable/dist/handsontable.full.js"></script>
  <link rel="stylesheet" media="screen" href="bower_components/handsontable/dist/handsontable.full.css">

  <script src="bower_components/ace/build/src-min/ace.js"></script>
  <script src="bower_components/ace/build/src-min/mode-json.js"></script>
  <script src="bower_components/ace/build/src-min/theme-solarized_light.js"></script>

  <script src="libs/ui.js"></script>

  <script src="controllers/index.js"></script>
</body>
</html>
