<% include ./partials/head.ejs %>

<title>Query Builder | Mongo Table Admin</title>
</head>

<body>

  <% include ./partials/navbar.ejs %>

  <% include ./partials/menu.ejs %>
   
  <div style="margin: 15px;"><div id="ht"></div></div>
  <div id="table-container"><div id="output"></div></div>

  <% include ./partials/bodyend.ejs %>

  <script src="/node_modules/handsontable/dist/handsontable.full.js"></script>
  <link rel="stylesheet" media="screen" href="/node_modules/handsontable/dist/handsontable.full.css">

  <script src="/node_modules/handsontable-helpers/handsontable.helpers.js"></script>

  <script src="/controllers/table.js"></script>

</body>
</html>