body {
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

#table-container {
  padding: 10px;
}

a {
  color: #00B7FF;
}

hr {
  margin-top: 5px !important;
  margin-bottom: 5px !important;
}

input[type=file] {
  display: inline; 
}

input[type=number] {
  display: inline; 
}

.modal-header {
  border-bottom: 0px !important;
}

.modal-dialog {
  width: 660px !important;
}