<% include ../partitials/head.ejs %>

<title>Create Table | Mongo Table Admin</title>
</head>

<style>
  .changeType {
    border: 1px solid #bbb;
    color: #bbb;
    background: #eee;
    border-radius: 2px;
    padding: 2px;
    font-size: 9px;
    float: right;
    line-height: 9px;
    margin: 3px 3px 0 0;
  }

  .changeType:hover {
    border: 1px solid #777;
    color: #777;
    cursor: pointer;
  }

  .changeType.pressed {
    background-color: #999;
  }

  .changeTypeMenu {
    position: absolute;
    border: 1px solid #ccc;
    margin-top: 18px;
    box-shadow: 0 1px 3px -1px #323232;
    background: white;
    padding: 0;
    font-size: 13px;
    display: none;
    z-index: 100;
  }

  .changeTypeMenu li {
    text-align: left;
    list-style: none;
    padding: 2px 20px;
    cursor: pointer;
    margin-bottom: 0;
  }

  .changeTypeMenu li.active:before {
    font-size: 12px;
    content: "\2714";
    margin-left: -15px;
    margin-right: 3px;
  }

  .changeTypeMenu li:hover {
    background: #eee;
  }
</style>

<body>

  <% include ../partitials/navbar.ejs %>

  <div class="container"><div id="controls"></div></div>
  <div id="table-container"><div id="table"></div></div>
  <div class="container"><div id="results"></div></div>

  <script src="node_modules/handsontable/dist/handsontable.full.js"></script>
  <link rel="stylesheet" media="screen" href="node_modules/handsontable/dist/handsontable.full.css">

  <% include ../partitials/bodyend.ejs %>

  <script src="/libs/handsontable.helpers.js"></script>

  <script src="controllers/create.js"></script>
</body>
</html>
