<% include ../partials/head.ejs %>

<title>Mongo Table Admin</title>
</head>

<body>

  <% include ../partials/navbar.ejs %>


  <% include ../partials/bodyend.ejs %>

  <script>
  Controls.dbs();
  </script>

</body>
</html>