<% include ../partitials/head.ejs %>

<title>Mongo Table Admin</title>
</head>

<body>

  <% include ../partitials/navbar.ejs %>


  <% include ../partitials/bodyend.ejs %>

  <script>
  Controls.dbs();
  </script>

</body>
</html>