<% include ../partials/head.ejs %>

<title>Table Inline Edit | Mongo Table Admin</title>
</head>

<body>

  <% include ../partials/navbar.ejs %>

  <div id="control"></div>
  <div id="table-container"><div id="output"></div></div>

  <% include ../partials/bodyend.ejs %>

  <script src="/node_modules/handsontable/dist/handsontable.full.js"></script>
  <link rel="stylesheet" media="screen" href="/node_modules/handsontable/dist/handsontable.full.css">

  <script src="/libs/handsontable.helpers.js"></script>
  
  <script src="/controllers/table.js"></script>

</body>
</html>