<div class="navbar navbar-default navbar-static-top" style="background: #fff;">
  <div class="container" id= "header" style="background: #fff;">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="/">Mongo Table Admin</a>
    </div>

    <div class="collapse navbar-collapse navbar-left" id="navbar-left">
      <ul class="nav navbar-nav">
        <li><a href='/create'>Create Table</a></li>
      </ul>
    </div>

    <div class="collapse navbar-collapse navbar-right" id="navbar-right">
      <ul class="nav navbar-nav">
        <li id="switch-li"></li>
        <li><button id="collections" style="margin:10px;" class="btn btn-default">Collections</button></li>
        <li><button id="connection" style="margin:10px;" class="btn btn-default">Database</button></li>        
      </ul>

    </div>
  </div>
</div>

<script>
  var connNode = document.querySelector("#connection");
  connNode.onclick = function () {
    var dbPath = localStorage["input#db-path"];
    if(!dbPath) return Swals.dbPath();

    Controls.dbs();
  };

  var listNode = document.querySelector("#collections");
  listNode.onclick = function() {

    var dbPath = localStorage["input#db-path"];
    if(!dbPath) return Swals.dbPath();

    Controls.collections();              
  };

  var switchLiNode = document.querySelector("#switch-li");
  var currView = window.location.href.split(/\//g).pop();

  if(["pivot", "table"].indexOf(currView) != -1) {
    if(currView == "pivot") {
      UI.button({
        innerHTML: "Switch to table",
        id: "switch-to-table",
        parent: switchLiNode
      }, function () {
        Controls.changeView("table");
      });
    } else {
      UI.button({
        innerHTML: "Switch to pivot",
        id: "switch-to-pivot",
        parent: switchLiNode
      }, function () {
        Controls.changeView("pivot");
      });
    }
  }

</script>